# Large image files
assets/icons/flora_avorio.jpg
assets/icons/mountains.png
assets/icons/mountains.jpeg

# All image files to prevent future issues
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Other large files
*.zip
*.tar.gz
*.rar
